<%- include('../partials/_head') %> <%- include('../partials/_header') %>

<h1>Welcome to the admin space</h1>
<br />
<h1>List of ressources:</h1>
<!-- // list of ressources with bs5 -->
<ul class="list-group">
    <li class="list-group-item list-group-item-action fs-3" id="users" role="button">Users</li>
</ul>

<script>
    const usersItem = document.getElementById("users");
    usersItem.addEventListener("click", async () => {
        document.location.href = "/admin/api/users";
    });
</script>

<%- include('../partials/_footer') %>
