<%- include('../partials/_head') %> <%- include('../partials/_header') %>

<script>
    // remove the token from the local storage
    localStorage.removeItem("token");
</script>    
<h1>Logout</h1>
<p class="fs-3">You are now logged out</p>

<%- include('../partials/_footer') %>
