<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Ressource not found</title>
    </head>
    <body>
        <h1>404</h1>
        <h4>No <%= ressourceName %> found with _id <%= _id %></h4>
    </body>
</html>
